.scrolltop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-weight: 500;
    cursor: pointer;
    position: fixed;
    right: 2vw;
    bottom: 10px;
}
.scrolltop div{
    font-size: 0px;
}

@media all and (min-width: 640px){
    .scrolltop{
        right: 1vw;
        
    }
 
  
}
