.app-menu{
    position: fixed;
    min-height: 100vh;
    background: var(--white);
    width: 0%;
    opacity: 0;
    overflow: hidden;
   border-right: 1px solid var(--soft-divider);
   transition: all 0.1s ease-in;
   /* padding: 25px; */
}

.nav-open .app-menu{
    width: 100%;
    opacity: 1;
}

@media all and (min-width: 640px){
    .nav-open .app-menu{
        width: 40%;
    }
}
@media all and (min-width: 1023px){
    .nav-open .app-menu{
        width: 20%;
    }
}