body,input,button{
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}
*{
    box-sizing: border-box;
}
img{
  max-width: 100%;
  height: auto;
}
.light-theme {
    --primary-color: #10B981;
    --secondary-color: #F3F4F6;
    --disabled-color: #E5E7EB;
    --primary-text-color: #1F2937;
    --primary-hover: #065F46;
    --secondary-hover: #E5E7EB;
    --soft-divider: #eeeeee;
    --white: #F9FAFB;
    --menu-item: #ECFDF5;
    --icon-color: #065F46;
    --warn: #EF4444;
 }
 .dark-theme {
    --primary-color: #000000;
    --disabled-color: #4a4a4b;
 }
 .remove-default-btn-styles {
  background: transparent;
  border: 0px none;
  margin: 0;
  padding: 0;
}
.remove-default-btn-styles:focus{
  outline: none;
}
.grid-container {
    display: grid;
    grid-template-columns: 100%;
  }
  
  .grid-item {
    /* border: 1px solid var(--primary-color); */
  }

  .app-content{
      background: var(--secondary-color);
      min-height: 100vh;
      margin-left: 0%;
      transition: all 0.2s ease-in;
  }
  .nav-open .app-content{
    margin-left: 20%;
    
  }

  .btn-primary,a.edit-button{    
        display: block;
        width: 150px;
        height: 45px;
        text-align: center;
        margin: 0 auto;
        line-height: 45px;
        text-decoration: none;
        background: var(--primary-color);
        color: var(--white);
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: background 0.3s ease-in-out;
  }
  .btn-primary:hover,a.edit-button:hover{
    background: var(--primary-hover);
  }
  button.primary-btn.save-btn {
    margin: 0px 40px;
}
a.edit-button{
  margin-bottom: 25px;
}
  .app-bg{
    min-height: 300px;
    background: url('artistimage.jpg') left no-repeat #000;
    background-size: 75vw auto;
    background-position-x: 0;
  }
  .app-holder {
    max-width: 98%;
    background: var(--white);
    text-align: center;
    margin: -35px auto 0 auto;
    border-radius: 10px;
    padding: 20px 0;
}
  .app-holder h1{
      margin: 0;
  }

  .hamburger-container {
    width: 28px;
    position: fixed;
    top: 25px;
    left: 20px;
    z-index: 10;
}
  span.hamburger{
    border-radius: 4px;
    width: 28px;
    height: 4px; 
    background-color: var(--primary-color);  
    display: block; 
    margin-bottom: 4px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  .hamburger-container input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  .span-container span:nth-child(1)
  {
    transform-origin: 0% 0%;
  }
  
  .span-container span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  .hamburger-container input:checked + div span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background:var(--primary-color); 
  }
  
  .hamburger-container input:checked + div span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .hamburger-container input:checked + div span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, 14px);
  }
  
  .hamburger-container input:checked + div span{
    opacity: 1;
        transform: rotate(45deg) translate(-3px, -16px);
    background: var(--primary-color); 
  }

  button.primary-btn {
    margin: 25px 0;
    background: transparent;
    border: 0 none;
    color: var(--white);
    background: var(--primary-color);
    width: 150px;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.2s ease-in-out;
}
button.primary-btn:hover{
  background: var(--primary-hover);
  outline: none;
}
button.primary-btn:focus{
  outline: none;
}

.title-name{
  margin-top: 0px;
}

button.primary-btn.save-btn[disabled] {
  opacity: 0.6;
  cursor: default;
}
button.primary-btn.save-btn[disabled]:hover{
  background-color: var(--primary-color);
}

.error-msg{
  color: var(--warn);
}
  @media all and (min-width: 640px){
    .app-holder{
      padding: 40px 0 60px 0px;
    }
    button.primary-btn.save-btn {
      margin: 25px 40px;
  }
  .app-holder{
    max-width: 90%;
  }
  .app-bg{
    background-size: 33vw;
  }
  }